/**
 *
 * Here we are difining all colors that we are using in project
 *
**/

$black: #000;
$grey_light: #ECECEC;
$grey_dark: #B5B5B5;
$green: #4CAF50;
$pink: #EA2264;
$orange: #F64A3A;
$blue: #4285F4;
$grey_ultra_dark: #939393;