/* You can add global styles to this file, and also import other style files */

// custom app scss
@import './variables';

// global
html, body {
    overflow: hidden;
    background: $grey_light!important;       
}

.container-fluid {
    background: $grey_light;       
}

.material-icons.md-2 { font-size: 1.2em; }
.material-icons.md-3 { font-size: 1.6em; }
.material-icons.md-4 { font-size: 2.0em; }
.material-icons.md-5 { font-size: 2.4em; }
.material-icons.md-6 { font-size: 2.8em; }
.material-icons.md-7 { font-size: 3.2em; }
// .material-icons.md-8 { font-size: 4.2em; }
.dropdown-item.active, .dropdown-item:active {
    background: rgba(255,255,255,0)!important;
    color: black!important;
}
.ico-answer {
    float: right;
    color: white
}

.incorrect-btn {
    opacity: 0.4;
}