@import "~sass/variables";

.section-registration {
    height: 100vh;
    > .row {
        height: 100%;
    }
}

.registration-col{
    max-width: 60%;
    max-height: 70%;
}

.registration-row{
    // padding-bottom: 250px;
}

.registration-content{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: $grey_ultra_dark;
}

.top-padd{
    padding: 16px;
}

.button-send {
    font-size: 1.1em;
}

h1 {
    font-size: 3em;
    color: $grey_ultra_dark;
} 