@import "~sass/variables";

.full-height{
    height: 92vh;
}
.out-layout {
    // min-height: 85vh;
    // min-height: auto;
    background: white;
}
.main-row {
    max-height: 250px;
    background-color:white;
}
.main-element {
    max-height: 250px;
}
.bgnr-btn-clr {
    background-color: $orange;
}
.bgnr-txt-clr {
    color:  $orange; 
}
h1 { font-size: 3em; }

.container-bckg {
    background-color: $grey_light;
}

h4 {
    color: $grey_dark;
    margin-bottom: 0;
}
span { 
    font-size: 11px; 
    color: $grey_dark;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    margin: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    background-color: white;
    i {
        font-size: 2.4em;
        margin-left: -15px;
        margin-top: -8px;
    }
  }