<div class="container-fluid container-bckg">
    <div class="row justify-content-center align-self-center full-height">
        <div class="col-md-7 justify-content-center align-self-center">        
            <div class="out-layout z-depth-1-half">
            <!-- <div class="box d-flex h-100"> -->
                <div class="row justify-content-end  align-self-center">
                <div class="pr-5 pt-4 pb-3">
                    <h1 class="bgnr-txt-clr">1/1</h1>
                </div>
                </div>
                <div class="row justify-content-center align-self-center">
                    <div class="col-md-8  main-element text-center">
                        <img src="../assets/bird.png" alt="..." class="img-fluid  main-element">
                    </div>
                </div>
                <div class="row justify-content-center align-self-center text-center mb-2">
                    <div class="mt-4">
                        <h4>Na obrázku sa nachádza:</h4>
                    </div>
                </div>
                <div class="row justify-content-center align-self-center pl-3 pr-3 mt-3">
                    <div class="col-md-3">
                        <button (click)="pressBtn()" [ngClass]="{'incorrect-btn': incorrect}" type="button" class="btn btn-block bgnr-btn-clr p-2" disable="disabled">odpoved 1
                                <i *ngIf="incorrect" class="material-icons ico-answer">clear</i>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button (click)="pressBtn()" [ngClass]="{'correct-btn': correct}" type="button" class="btn btn-block bgnr-btn-clr p-2">odpoved 1                                
                                <i *ngIf="correct" class="material-icons ico-answer">done</i>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button (click)="pressBtn()" [ngClass]="{'incorrect-btn': incorrect}" type="button" class="btn btn-block bgnr-btn-clr p-2">odpoved 1                            
                                <i *ngIf="incorrect" class="material-icons ico-answer">clear</i>
                        </button>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md">
                                <button type="button" class="btn btn-circle btn-xl" disabled><i class="material-icons bgnr-txt-clr">navigate_before</i></button>  
                        </div>
                        <div class="col-md text-right">
                            <button type="button" routerLink="/end-game" class="btn btn-circle btn-xl"><i class="material-icons bgnr-txt-clr">navigate_next</i></button>  
                        </div>
                    </div>
            <!-- </div> -->
            </div>
        </div>
    </div>
</div>