<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 text-center">
            <h1 class="text-uppercase">
              úroveň testu
            </h1>
        </div>
    </div>
    <section class="three-rows mt-3 pb-3">       
      <div class="row justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
        <div class="col-md-8">
          <a routerLink="/bgnr">
            <div class="row item my-green z-depth-1-half">
                <div class="col-md-4 d-flex left justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
                  <h3 class="text-uppercase align-self-center">Začiatočník</h3> <!-- align-self-center (vertical centering d-flex parent!) -->
                </div>          
                <div class="col-md-7 right">
                  <p>
                      V oblasti ornitológie máš minimálne, alebo nulové znalosti.
                      Nedokážeš s istotou rozpoznávať rozdiely medzi jenotlivími druhmi len na základe vyzuálneho pozorovania.                 
                  </p>
                </div>
                <div class="col-md-1 d-flex justify-content-center icon">
                    <i class="material-icons align-self-center md-7">keyboard_arrow_right</i>
                </div>
            </div>
          </a>
        </div>
      </div>    
      <div class="row justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
        <div class="col-md-8">
          <a routerLink="/advc">
            <div class="row item my-orange z-depth-1-half">
                <div class="col-md-4 d-flex left justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
                  <h3 class="text-uppercase align-self-center">pokročilý</h3> <!-- align-self-center (vertical centering d-flex parent!) -->
                </div>          
                <div class="col-md-7 right">
                  <p>
                      Máš základne znalosti z oblasti ornitológie a poznáš niektoré druhy vtáctva.
                      Na základe vyzuálneho pozorvania dokážeš určiť o aký drhu vtáka sa jedná.
                  </p>
                </div>
                <div class="col-md-1 d-flex justify-content-center icon">
                    <i class="material-icons align-self-center md-7">keyboard_arrow_right</i>
                </div>
            </div>
          </a>
        </div>
      </div>  
      <div class="row justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
        <div class="col-md-8">
          <a routerLink="/expr">
            <div class="row item my-pink z-depth-1-half">
                <div class="col-md-4 d-flex left justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
                  <h3 class="text-uppercase align-self-center">expert</h3> <!-- align-self-center (vertical centering d-flex parent!) -->
                </div>          
                <div class="col-md-7 right">
                  <p>
                      Si expert v oblasti ornitológie, alebo podrobne pozáš veľké množstvo drhov vtáctva žijúcich na území ČR.
                      Druh dokážes určit na základe pozorvania, ale aj na základe zvuku.                    
                  </p>
                </div>
                <div class="col-md-1 d-flex justify-content-center icon">
                    <i class="material-icons align-self-center md-7">keyboard_arrow_right</i>
                </div>
            </div>
          </a>
        </div>
      </div>   
  </section>
</div>