<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 text-center">
            <h1 class="text-uppercase">
              úroveň testu
            </h1>
        </div>
    </div>
    <section class="three-rows mt-3">       
      <div class="row justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
        <div class="col-md-8">
          <a routerLink="/bgnr">
            <div class="row item my-green">
                <div class="col-md-4 d-flex left justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
                  <h3 class="text-uppercase align-self-center">Začiatočník</h3> <!-- align-self-center (vertical centering d-flex parent!) -->
                </div>          
                <div class="col-md-7 right">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.                    
                  </p>
                </div>
                <div class="col-md-1 d-flex justify-content-center icon">
                    <i class="material-icons align-self-center md-7">keyboard_arrow_right</i>
                </div>
            </div>
          </a>
        </div>
      </div>    
      <div class="row justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
        <div class="col-md-8">
          <a routerLink="/advc">
            <div class="row item my-orange">
                <div class="col-md-4 d-flex left justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
                  <h3 class="text-uppercase align-self-center">pokročilý</h3> <!-- align-self-center (vertical centering d-flex parent!) -->
                </div>          
                <div class="col-md-7 right">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                      Ut enim ad minim.
                  </p>
                </div>
                <div class="col-md-1 d-flex justify-content-center icon">
                    <i class="material-icons align-self-center md-7">keyboard_arrow_right</i>
                </div>
            </div>
          </a>
        </div>
      </div>  
      <div class="row justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
        <div class="col-md-8">
          <a routerLink="/expr">
            <div class="row item my-pink">
                <div class="col-md-4 d-flex left justify-content-center"> <!-- justify-content-center (horizontal-centering) -->
                  <h3 class="text-uppercase align-self-center">expert</h3> <!-- align-self-center (vertical centering d-flex parent!) -->
                </div>          
                <div class="col-md-7 right">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.                     
                  </p>
                </div>
                <div class="col-md-1 d-flex justify-content-center icon">
                    <i class="material-icons align-self-center md-7">keyboard_arrow_right</i>
                </div>
            </div>
          </a>
        </div>
      </div>   
  </section>
</div>