<section class="section-login">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">            
                <h1 class="mb-5 text-center">Login</h1>
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>         
                    <div class="md-form form-md" [ngClass]="{ 'has-error': f.submitted && !username.valid }">       
                        <i class="material-icons prefix">tag_faces</i>                     
                        <input mdbActive type="text" id="form1" class="form-control"  name="username" [(ngModel)]="model.username" #username="ngModel" required>
                        <label for="form1" class="">Example label</label>
                    </div>
                    <div class="md-form form-md">
                        <i class="material-icons prefix">lock_outline</i>
                        <input mdbActive type="text" id="form1" class="form-control" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required >
                        <label for="form1" class="">Example label</label>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>                    
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="form-group text-center">
                        <button [disabled]="loading" class="btn btn-primary mt-3">Login</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>                                
                </form>
                            
                <!-- <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate> -->
                    <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                    </div> -->
                
                    <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div> -->
                                
            </div>
        </div>
    </section>
    
<!-- <section class="section-login">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">            
            <h2>Login</h2>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate> -->
                <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div> -->
                <!-- <div class="input-group">
                    <i class="material-icons input-group-addon">perm_identity</i>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div> -->
                <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
    <!-- <label for="formGroupExampleInput" class="bmd-label-floating">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput">
  </div>
                <div class="input-group form-group"> -->
                        <!-- <i class="material-icons input-group-addon">lock</i>                     -->
                        <!-- <label for="exampleInputEmail1" class="bmd-label-floating">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                        <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
                <div class="input-group">
                        <i class="material-icons input-group-addon">lock</i>                    
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div> -->
                <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div> -->
                <!-- <div class="alert alert-info">
                        Username: test<br />
                        Password: test
                </div> -->
                <!-- <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
    </div>
</section> -->
