.section-login {
    height: 100vh;
    > .row {
        height: 100%;
    }
}

.login-content{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.login-col{
    max-width: 60%;
    max-height: 70%;
}

.top-padd{
    padding: 16px;
}