@import "~sass/variables";

.section-login {
    height: 100vh;
    > .row {
        height: 100%;
    }
}

.login-content{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.login-col{
    max-width: 60%;
    max-height: 70%;
}

.top-padd{
    padding: 16px;
}

.button-send {
    font-size: 1.1em;
}
a.reg-link {
    font-weight: 400;
    color: $blue;
}
h1 {
    font-size: 3em;
    color: $grey_ultra_dark;
} 
.md-form .prefix {
     color: $grey_ultra_dark; 
     font-size: 2.2em;
}