                

<!-- <div class="nav" >  -->
<nav *ngIf="nav.visible" class="navbar nav navbar-expand-lg our-navbar scrolling-navbar"
  [ngClass]="{'our-bg-blue': nav.blue, 'our-bg-orange': nav.orange, 'our-bg-pink': nav.pink, 'our-bg-green': nav.green}">
        
<!--<i class="material-icons prefix">lock_outline</i> -->

<!-- <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius>
        Basic dropdown
    </button>

    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div> -->
        
  <div class=" navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <div class="btn-group " dropdown>
              <button routerLink="/choose" dropdownToggle type="button" class="btn btn-primary buttons-left waves-light bckgrnd" mdbRippleRadius>
                <!-- <a ><i class="material-icons prefix colorLink">home</i></a>           -->
                <i class="material-icons prefix colorLink">home</i>
              </button>
          </div>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary buttons-left waves-light shadowOff " mdbRippleRadius>
                <i class="material-icons prefix">poll</i>
            </button>
            <div class="dropdown-menu dropdown-primary">
              <div class="dropdown-item text-center txt-size" href="#">
                
                <h5>TOP 10</h5>

                <table class="table borderNull tablePadding">
                    <tr>
                      <td>34423</td>
                      <td>ignac12</td>
                    </tr>
                    <tr>
                      <td>23333</td>
                      <td>jozefin</td>
                    </tr> 
                    <tr>
                      <td>13433</td>
                      <td>amater</td>
                    </tr>
                    <tr>
                      <td>12499</td>
                      <td>ubina</td>
                    </tr>
                    <tr>
                      <td>9323</td>
                      <td>franto</td>
                    </tr>
                    <tr>
                      <td>8634</td>
                      <td>melisko</td>
                    </tr>
                    <tr>
                      <td>7299</td>
                      <td>uuul9  </td>
                    </tr>
                    <tr>
                      <td>3823</td>
                      <td>bestNick</td>
                    </tr>
                    <tr class="beforeLastElement">
                      <td>3497</td>
                      <td>flafl</td>
                    </tr>
                    <tr class="lastItem lastElement">
                      <td>245</td>
                      <td>mYsko</td>
                    </tr>
                    
                  </table>


                </div>
            </div>
          </div>  
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">      
      <li class="nav-item">
        <div class="btn-group " dropdown>
          <button dropdownToggle type="button" class="btn btn-primary btn waves-light shadowOff dropdown-menu-button" mdbRippleRadius>
            <i class="material-icons prefix">account_circle</i>
          </button>
          <div class="dropdown-menu dropdown-menu-user dropdown-primary">
              <a class="dropdown-item " href="#">Odhásiť sa</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>




