<div class="container-fluid container-bckg">
    <div class="nav">
        <p>waaa</p>
    </div>
    <div class="row justify-content-center align-self-center full-height">
        <div class="col-md-9 justify-content-center align-self-center">        
            <div class="out-layout">
            <!-- <div class="box d-flex h-100"> -->
                <div class="row justify-content-end  align-self-center">
                <div class="pr-4 pt-3 pb-3">
                    <h1 class="bgnr-txt-clr">1/1</h1>
                </div>
                </div>
                <div class="row justify-content-center align-self-center">
                    <div class="col-md-4  main-element text-right">
                        <img src="../assets/bird.png" alt="..." class="img-fluid  main-element">
                    </div>
                    <div class="col-md-4  main-element text-left">
                        <div class="border border-grey">
                            <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <h4 class="text-right pr-2 bgnr-txt-clr">...viac</h4>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-self-center">
                    <div class="p-3">
                        <h4>Aký vták je na obrázku:</h4>
                    </div>
                </div>
                <div class="row justify-content-center align-self-center pl-3 pr-3">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-block bgnr-btn-clr p-2">odpoved 1</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-block bgnr-btn-clr p-2">odpoved 1</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-block bgnr-btn-clr p-2">odpoved 1</button>
                    </div> 
                </div>
                <div class="row">
                        <div class="col-md">
                                <button type="button" class="btn btn-circle btn-xl"><i class="material-icons bgnr-txt-clr">navigate_before</i></button>  
                        </div>
                        <div class="col-md text-right">
                            <button type="button" class="btn btn-circle btn-xl"><i class="material-icons bgnr-txt-clr">navigate_next</i></button>  
                        </div>
                    </div>
            <!-- </div> -->
            </div>
        </div>
    </div>
</div>