<div class="container-fluid">
    <div class="nav">
        <p>waaa</p>
    </div>
    <div class="out-layout">
      <!-- <div class="box d-flex h-100"> -->
        <div class="row justify-content-end  align-self-center">
          <div class="pr-4 pt-3 pb-3">
            <h1>1/1</h1>
          </div>
        </div>
        <div class="row justify-content-center align-self-center">
            <div class="col-md-4">
                <img src="../assets/bird.png" alt="..." class="img-fluid">
              </div>
            <div class="col-md-4">
                <div class="border border-grey">
                    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <h3 class="text-right pr-2">...viac</h3>
                </div>
            </div>
        </div>
        <div class="row row justify-content-center align-self-center">
            <div class="p-3">
                <h2 class="pr-2">Aky je druh vtaka na obrazku:</h2>
            </div>
        </div>
        <div class="row justify-content-center align-self-center">
            <div class="col-md-auto">
                <button type="button" class="btn">odpoved 1</button>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn">odpoved 1</button>
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn">odpoved 1</button>
            </div> 
          </div>
          <div class="row">
      <!-- </div> -->
    </div>
</div>